@page "/"
@inherits IndexModel;
@using System.Text.RegularExpressions;

<h1>C# Regex Tester</h1>

Text:
<br />
<textarea id="fdfgc" rows="5" class="wide" @bind="@Text" @oninput="@ReCalcText">
</textarea>
<br />

<button @onclick="@(()=>{RegexOptionsVisible=!RegexOptionsVisible;})">RegexOptions</button>
<br />

<ul style="display: @(RegexOptionsVisible ? "block":"none")">
    @foreach (var each in Enum.GetNames(typeof(RegexOptions)))
    {
        <li>
            <input id="regexoptions" type="checkbox" value="@each"
                   onchange=@(eventArgs => { RegexOptionsChanged(each, (bool)eventArgs.Value); }) /> <label for="regexoptions">@each</label>
            </li>
        }
</ul>

<br />
<input class="cscodedisabled" type="radio" id="pattern" name="regexsourceradio" checked="@(RegexSource == RegexSourceEnum.Pattern)" onchange="@(() => RegexSource = RegexSourceEnum.Pattern)" />
<label for="patterninput">Pattern:</label>
<br />
<input id="patterninput" type="text" class="wide" @bind="@Pattern" @oninput="@ReCalcPattern" disabled="@(RegexSource != RegexSourceEnum.Pattern)" />
<br />

<input class="cscodedisabled" disabled type="radio" id="code" name="regexsourceradio" checked="@(RegexSource == RegexSourceEnum.CsCode)" onchange="@(() => { RegexSource = RegexSourceEnum.CsCode; })" />
<label class="cscodedisabled" for="codeinput">C# Regex code for matching:</label>
<br class="cscodedisabled" />
<input id="codeinput" type="text" class="wide cscodedisabled" @bind="@CsCode" @oninput="@ReCalcCode" disabled="@(RegexSource != RegexSourceEnum.CsCode)" />
<br class="cscodedisabled" />

<br />
<input id="autoruncheckbox" type="checkbox" @bind="@Autorun" /> <label for="autoruncheckbox">AutoRun</label>
<br />
<button @onclick="@ReCalc">Run</button>
<br />
<br />

Results:
<br />

@if (Matches != null)
{
    @GetDecoratedTextWithMatches()
}

<br />
<br />
<br />


@code
{
}
