@page "/"
@using System.Diagnostics
@using System
@using System.Text.RegularExpressions;


<h1>C# Regex Tester</h1>


<input id="autoruncheckbox" type="checkbox" checked /> <label for="autoruncheckbox">AutoRun</label>
<br />
<button @onclick="@ReCalc">Run</button>
<br />

<input type="radio" id="pattern" name="regexsourceradio" checked="@(RegexSource == 1)" onchange="@(() => RegexSource = 1)" />
<label for="patterninput">Pattern:</label>
<br />
<input id="patterninput" type="text" class="wide" @bind="@pattern" @oninput="@ReCalcPattern" disabled="@(RegexSource != 1)" />
<br />

<input type="radio" id="code" name="regexsourceradio" checked="@(RegexSource == 2)" onchange="@(() => RegexSource = 2)" />
<label for="codeinput">C# Regex code for matching:</label>
<br />
<input id="codeinput" type="text" class="wide" @bind="@cscode" @oninput="@ReCalcCode" disabled="@(RegexSource != 2)" />
<br />


Text:
<br />
<textarea id="fdfgc" class="wide" @bind="@text" @oninput="@ReCalcText">

</textarea>
<br />

Results:@res
<br />
<textarea id="fgcfrx" class="wide">@res</textarea>
<br />



@code
    {

public int RegexSource { get; set; } = 1;
 private string pattern { get; set; }
public string cscode { get; set; }
public string text { get; set; }
public string pattern1 { get; set; }
public string res { get; set; } = "";

protected override async Task OnInitAsync()
{
#if DEBUG
pattern = "2?";
pattern1 = "1";
text = "dadf 3  2s fdsf 2a g";
cscode = "System.Text.RegularExpressions.Regex regex = new System.Text.RegularExpressions.Regex(\u0040\"abcd.*\");";
#endif
}

async Task ReCalcCode(Microsoft.AspNetCore.Components.UIChangeEventArgs g)
{
}

async Task ReCalcPattern(Microsoft.AspNetCore.Components.UIChangeEventArgs g)
{
@*@((UIChangeEventArgs __e) => CurrentValue = __e.Value)*@
//object h = g.Value;
//string gds = (string)h;
pattern = (string)g.Value;
//    Debug.WriteLine(pattern);
//Debug.WriteLine(g);

    //res = pattern + pattern1;
ReCalc();
}




async Task ReCalcText(Microsoft.AspNetCore.Components.UIChangeEventArgs g)
{
@*@((UIChangeEventArgs __e) => CurrentValue = __e.Value)*@
//object h = g.Value;
//string gds = (string)h;
text = (string)g.Value;
//    Debug.WriteLine(pattern);
//Debug.WriteLine(g);

    //res = pattern + pattern1;
ReCalc();
}

async Task ReCalc()
{
res = "";
            var g = Regex.Matches(text, pattern);
            foreach(Match e in g)
            {
res +=                e.Value+"(" ;

foreach (Group gg in e.Groups)
{
res +=                gg.Value+"|" ;
}

res += ")\r\n";
            }

}
}
